<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.bf_seller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dt.bf_seller.app.AppMgr"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".start.AppStart" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setup.SetupActivity" >
        </activity>
        <activity
            android:name=".setup.InputPhoneNumberActivity"
            android:icon="@drawable/ic_kdwd_back"
            android:label="@string/register" >
        </activity>
        <activity
            android:name=".setup.VerifySecurityCodeActivity"
            android:icon="@drawable/ic_kdwd_back"
            android:label="@string/input_security_code" >
        </activity>
        <activity
            android:name=".setup.InputPassWordActivity"
            android:icon="@drawable/ic_kdwd_back"
            android:label="@string/input_security_code" >
        </activity>
        <activity
            android:name=".setup.LoginActivity"
            android:icon="@drawable/ic_kdwd_back"
            android:label="@string/login" >
        </activity>
        <activity android:name=".main.MainActivity" >
        </activity>
        <activity
            android:name=".main.ShopActivity"
            android:icon="@drawable/ic_kdwd_back"
            android:label="@string/myshop" >
        </activity>
    </application>

</manifest>